<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Worblehat Bookmanager</title>
</head>
<body>
<h1 id="welcome_heading">Worblehat Bookmanager</h1>

<ul>
    <li><a th:href="@{/bookList}">Show all Books</a></li>
    <li><a th:href="@{/insertBooks}">Add a new book</a></li>
    <li><a th:href="@{/borrow}">Borrow Book</a></li>
    <li><a th:href="@{/returnAllBooks}">Return Books</a></li>
</ul>
<br/>
<br/>
<br/>
<br/>
<i><b>Version:</b> <a th:text=" ${@environment.getProperty('info.version')}" ></a></i>
</body>
</html>
